binutils-2.*/
i386
i686
x86_64
/binutils-*.tar.bz2
.build-*
*.src.rpm
*.log
HOWTO
build-sources

/binutils-2.29.tar.xz
/binutils-2.29.1.tar.xz
/binutils-2.19.50.0.1-output-format.sed
/binutils-2.30.tar.xz
/binutils-2.30.90.tar.xz
/binutils-2.31.1.tar.xz
